Collaborators:
<ul>
  <% @page.collaborators.each do |collaborator| %>
  <li>
    <%= User.find_by_id(collaborator.user_id).email %>
    <% if policy(@page).destroy? %>
      <%= link_to "Delete User", [@page, collaborator], class: 'btn btn-danger delete', method: :delete, data: {confirm: 'Are you sure you want to delete this collaborator?'} %>
    <% end %>
  </li>
  <% end %>

</ul>
